

$gutter: 4%;
$width: (100-$gutter);
$breakpoint-small: 33.75em; // 540px
$breakpoint-med: 45em; // 720px
$breakpoint-large: 60em; // 960px


.row, .field--name-field-column {
  position: relative;
  width: 104%;
  margin: 0 (-$gutter/2);
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
  width: $width;
}

@for $col from 1 to 12 {
  .col-#{$col}-sm { width:($width / (12 / $col)) - ($gutter * (12 - $col) / 12); }
  @include respond-to('small-up') {
    .col-#{$col} { width:($width / (12 / $col)) - ($gutter * (12 - $col) / 12); }
  }
}

.hidden-sm {
  display: none;
  @include respond-to('small-up') {
    display: block;
  }
}
