.region-primary-menu {
  margin: 0;
  margin-bottom: 2em;
}

ul.menu {
  margin: 0;
  a.is-active {
    color: var(--color-text-gray);
    font-weight: 600;
  }
}

.menu--account,
.menu--main {
  li {
    display: inline-block;
  }
  .menu-item {
    padding-top: 0;
  }
}

.menu--main {
  margin-bottom: 0;
  margin-left: 0;

  .has-submenu > .sub-arrow {
    right: -14px;
    margin-top: -6px;
  }

}
ul#main-menu li {
  margin-right: 27px;

  @include respond-to(medium-down) {
    display: block;
  }
  a {
    margin: 0;
    padding: 0;
    letter-spacing: unset;
    color: var(--color-text);
    font-family: var(--font-serif);
    font-size: 1.35rem;
    font-weight: 400;
    line-height: 150%;
    border-bottom: 1px solid transparent;

    @include respond-to(medium-down) {
      border-bottom: 1px dashed var(--color-shadow-gray);
    }

    &:hover {
      border-bottom: 1px dashed var(--color-shadow-gray);
      color: var(--color-primary);
    }
  }
}


.menu--account {
  margin-bottom: 0;
  li {
    position: relative;
    margin-left: 1em;
    &:not(:first-child)::after {
      background-color: #f1af13;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: -.65em;
      margin-left: -1.5px;
      margin-top: -2.5px;
    }
    a, a.is-active {
      // font-weight: 400;
      color: var(--color-white);
      font-size: .9rem;
      display: block;
      // padding: .25rem;
      &:hover {
        text-decoration: underline;
        text-decoration-color: var(--color-white);
      }
    }
  }
}
