#block-infofooter {
  margin: 0;
}

footer {
  background: var(--color-primary);
  margin-top: 64px;
  padding: 40px 0 80px 0;  
  color: var(--color-white);
  font-family: var(--font-secondary);
  font-weight: 400;
  a {
    text-decoration: underline;
    text-decoration-color: var(--color-white);
    color: var(--color-white);
    text-transform: uppercase;
    &:hover {
      color: var(--color-white);
      text-decoration: none;      
    }
  }

  .footer-left {
    .seal {
      float: left;
    }
    .address {
      text-transform: uppercase;
      padding-left: 100px;
      padding-top: 20px;
      .location {
        font-weight: 700;
        font-size: .95rem;
        margin-bottom: 3px;
      }
      .copyright {
        font-size: .8rem;
      }
    }
  }
  .footer-right {
    text-align: right;
    @include respond-to(small-down) {
      text-align: center;
    }
    .links a {
      margin-left: 1em;
      font-size: .8em;
    }
  }

  .main-footer {
    margin-bottom: 4em;
  }

  .social-media a {
    margin: 0 10px;
    font-size: 1.5em;
    display: inline-block;
    width: .875em;
  }
}

.legal {
  text-align: center;
  margin-bottom: 2em;
  font-size: .8em;
  padding: 0;
  li {
    display: inline-block;
    margin: 0;
    position: relative;
    margin-left: 1.5em;
    &:after {
      background-color: #f1af13;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: -.75em;
      margin-left: -2.5px;
      margin-top: -2.5px
    }
    &:first-child:after {
      display: none
    }
  }
  .page-meta {
    font-style: italic;
    text-transform: uppercase;
    margin: 0
  }
}
